*.aux
*.bbl
*.upa
*.upb
*.blg
*.glg
*.gls
*.out
*._region*
*.synctex.gz
**.nav
**.snm
*.log
*.pdf
*.idx
*.ilg
*.vrb
*.ind
*.lof
*.lot
*.brf
*.lol
*.xdy
*.acn
*.glo
*.ist
**~
!ficha_catalografica.pdf
!regulations/*.pdf
*.toc
auto
.emacs.*
_minted-*
